* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

a {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    color: #FC4100;
}

a:hover,
a:active {
    color: blue;
}

body {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: "Poetsen One", sans-serif;
}

.skip-link {
    position: absolute;
    text-decoration: none;
    background-color: #C36A2D;
    color: #FBFBFB;
    padding: 8px;
    z-index: 999999;
    top: -40px;
    left: 0;
}

.skip-link:hover {
    color: #EADCA6;
}

.skip-link:focus {
    top: 0;
}
header {
    display: inline;
}